<% provide :title, t(".edit_user") %>
<% provide :button_text, t(".save_changes") %>
<h1><%= t ".update" %></h1>
<div class="row">
  <table>
    <tbody>
      <tr>
        <td class="col-md-4">
          <%= image_tag @user.avatar.url %>
        </td>
        <td class="col-md-6">
          <%= render "form" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
